<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex" role="search">

                <input class="form-control me-2" placeholder="Username">
                <input class="form-control me-2" placeholder="Password">
                <button formaction="/login" formmethod="post" class="btn btn-outline-success"  style='margin-right:10px'>Login</button>
                <button formaction="/registration" formmethod="post" class="btn btn-outline-success">Registration</button>
            </form>
        </div>
    </div>
</nav>
<p style="text-align: right; color: red"
th:if="${isNull}" th:text="${result}"
>Please try again. </p>
<p style="text-align: right; color: red"
   th:if="${isExists}" th:text="${result}"
>Please try again. </p>

<div class="list-group center" style="width: 70%; margin: auto;">
    <a class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Title</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Description</p>
        <small>Comments
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">username</li>
                <li class="list-group-item">creation date</li>
                <li class="list-group-item">comment</li>
            </ul>
        </small>
    </a>
    <a class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">Comments
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">username</li>
                <li class="list-group-item">creation date</li>
                <li class="list-group-item">comment</li>
            </ul>
        </small>
    </a>
</div>
</body>
</html>