<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<form class="row g-3" style="width: 30%; margin: auto;">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First name</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="First name">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Last name</label>
    <input type="password" class="form-control" id="inputPassword4" placeholder="Last name">
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">User name</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="User name">
  </div>
  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Password</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Password">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register</button>
    <button type="submit" class="btn btn-primary">Back to main page</button>
  </div>
</form>

</body>
</html>